# https://github.com/marketplace/actions/cypress-io
name: Node.js CI

on:
  push:
    branches: [ "Dev" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:
  cypress-run:
    name: Cypress run
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          spec: |
            cypress/e2e/2-advanced-examples/utilities.cy.js
            cypress/e2e/2-advanced-examples/waiting.cy.js
            cypress/e2e/2-advanced-examples/window.cy.js